pipeline/PL_OnPRem_ADLS.json
{
	"name": "PL_OnPRem_ADLS",
	"properties": {
		"description": "Pipeline to incrementally copy data from on premises sql db tables to ADLS bronze layer.",
		"activities": [
			{
				"name": "PL Start Time",
				"description": "To set the variable with the start time of the pipeline to later update the watermark table",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pl_startTime",
					"value": {
						"value": "@formatDateTime(pipeline().TriggerTime, 'yyyy-MM-ddTHH:mm:ssZ')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Watermark Column Map JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Watermark Column Map JSON').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CP_YouFlixDB_ADLSBronze",
							"description": "Copy data incrementally from on premises sql server DB, YouFlix, tables to ADLS bronze layer",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Azure Watermark Tbl Lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'SELECT * \n    FROM ',\n    item().tableName,\n    ' WHERE ',\n    item().watermarkColumn,\n    ' > ''',\n    activity('Azure Watermark Tbl Lookup').output.firstRow.watermark,\n    ''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 4,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_YouFLixDB",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "youflix",
										"tableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_bronze_youflix",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item().tableName",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(\n    'youflix',\n    '_',\n    item().tableName,\n    '_',\n    formatDateTime(utcNow(), 'yyyyMMddhhmmss'),\n    '.csv'\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Azure Watermark Tbl Lookup",
							"description": "To lookup the contents of Azure watermark table.",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureTableSource",
									"azureTableSourceIgnoreTableNotFound": false
								},
								"dataset": {
									"referenceName": "DS_YouFlixWatermark",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Update watermark table",
							"description": "To update the azure table storage - watermark table.",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CP_YouFlixDB_ADLSBronze",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureTableSource",
									"additionalColumns": [
										{
											"name": "watermarkNew",
											"value": {
												"value": "@variables('pl_startTime')",
												"type": "Expression"
											}
										}
									],
									"azureTableSourceQuery": {
										"value": "@concat(\n    'PartitionKey eq '''\n    ,item().tableName,''''\n)",
										"type": "Expression"
									},
									"azureTableSourceIgnoreTableNotFound": false
								},
								"sink": {
									"type": "AzureTableSink",
									"azureTableInsertType": "merge",
									"azureTablePartitionKeyName": "PartitionKey",
									"azureTableRowKeyName": "RowKey",
									"writeBatchSize": 10000
								},
								"enableStaging": false,
								"dataIntegrationUnits": 4,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "PartitionKey",
												"type": "String"
											},
											"sink": {
												"name": "PartitionKey",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "RowKey",
												"type": "String"
											},
											"sink": {
												"name": "RowKey",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Timestamp",
												"type": "DateTimeOffset"
											},
											"sink": {
												"name": "Timestamp",
												"type": "DateTimeOffset"
											}
										},
										{
											"source": {
												"name": "watermarkNew",
												"type": "String"
											},
											"sink": {
												"name": "watermark",
												"type": "DateTimeOffset"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_YouFlixWatermark",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_YouFlixWatermark",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Watermark Column Map JSON",
				"description": "JSON file consisting of watermark table mapping of youflix DB tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PL Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_YouflixDB_WMColMap",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "To create Success file in adls",
				"description": "To create the Success.csv file in adls bronze > youflix",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT 'Success!!'\nWHERE 1=1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_csvGeneration_Success",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_bronze_youflix",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": {
								"value": "@{string('')}",
								"type": "Expression"
							},
							"file_name": "success.csv"
						}
					}
				]
			}
		],
		"variables": {
			"pl_startTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}